* {
  font-family: 'Courier New', Courier, monospace;
}

.form-control{
  display: block;
}

.form-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.form-group label{
  font-weight: bold;
  display: block;
}

.App{
  display: flex;
  justify-content: center;
}

.display{
  margin-top: 20px;
  text-align: center;
}

.ufo{
  display: flex;
  justify-content: center;
}

.guess{
  text-align: center;
  font-size: 30px;
  width: 58px;
  margin-bottom: 5px;
}

.submit{
  display: block;
  font-size: 1em;
}

.button{
  font-size: 1em;
}

.full{
  width: 100%;
}

.err{
  color: #721C24;
  background-color: #F8D7DA;
}